anyio==3.6.2
beautifulsoup4==4.11.1
cachetools==5.2.0
certifi==2022.12.7
charset-normalizer==2.1.1
deep-translator==1.9.1
et-xmlfile==1.1.0
google-api-core==2.11.0
google-api-python-client==2.70.0
google-auth==2.15.0
google-auth-httplib2==0.1.0
googleapis-common-protos==1.57.0
grpcio==1.48.1
grpcio-tools==1.48.1
h11==0.14.0
httpcore==0.16.3
httplib2==0.21.0
httpx==0.23.1
idna==3.4
numpy==1.24.0
openai==0.25.0
openpyxl==3.0.10
pandas==1.5.2
pandas-stubs==1.5.2.221213
Pillow==9.3.0
protobuf==3.19.5
pyasn1==0.4.8
pyasn1-modules==0.2.8
pyparsing==3.0.9
python-dateutil==2.8.2
python-dotenv==0.21.0
python-telegram-bot==20.0b0
pytz==2022.7
requests==2.28.1
rfc3986==1.5.0
rsa==4.9
six==1.16.0
sniffio==1.3.0
soupsieve==2.3.2.post1
stability-sdk==0.3.1
tqdm==4.64.1
types-pytz==2022.7.0.0
typing_extensions==4.4.0
uritemplate==4.1.1
urllib3==1.26.13
psycopg2==2.9.6
