gpytranslate==1.5.1
openai==1.35.13
python-dotenv==1.0.1
requests==2.32.3
aiogram==3.13.1
psycopg-binary==3.1.18
psycopg==3.1.18
psycopg-pool==3.2.1
aiocryptopay==0.3.6
tiktoken==0.7.0
aiofiles==23.2.1
fastapi==0.115.0
uvicorn==0.31.0